appsettings.json
nlog.config

Furever.Api/Properties/launchSettings.json
Furever.EmailService/bin/Debug/net5.0/Furever.EmailService.dll
Furever.EmailService/bin/Debug/net5.0/Furever.EmailService.pdb
Furever.EmailService/bin/Debug/net5.0/ref/Furever.EmailService.dll
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.AssemblyInfo.cs
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.GeneratedMSBuildEditorConfig.editorconfig
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.assets.cache
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.csproj.CoreCompileInputs.cache
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.csproj.FileListAbsolute.txt
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.dll
Furever.EmailService/obj/Debug/net5.0/Furever.EmailService.pdb
Furever.EmailService/obj/Debug/net5.0/ref/Furever.EmailService.dll
Furever.EmailService/obj/Furever.EmailService.csproj.nuget.dgspec.json
Furever.EmailService/obj/Furever.EmailService.csproj.nuget.g.props
Furever.EmailService/obj/Furever.EmailService.csproj.nuget.g.targets
Furever.EmailService/obj/project.assets.json
Furever.EmailService/obj/project.nuget.cache
Furever.Entities/bin/Debug/net5.0/Furever.Entities.dll
Furever.Entities/bin/Debug/net5.0/Furever.Entities.pdb
Furever.Entities/bin/Debug/net5.0/Furever.Entities.runtimeconfig.dev.json
Furever.Entities/obj/Debug/net5.0/Furever.Entities.AssemblyInfo.cs
Furever.Entities/obj/Debug/net5.0/Furever.Entities.GeneratedMSBuildEditorConfig.editorconfig
Furever.Entities/obj/Debug/net5.0/Furever.Entities.assets.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.csproj.CoreCompileInputs.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.csproj.FileListAbsolute.txt
Furever.Entities/obj/Debug/net5.0/Furever.Entities.dll
Furever.Entities/obj/Debug/net5.0/Furever.Entities.genruntimeconfig.cache
Furever.Entities/obj/Debug/net5.0/Furever.Entities.pdb
Furever.Entities/obj/Furever.Entities.csproj.nuget.dgspec.json
Furever.Entities/obj/Furever.Entities.csproj.nuget.g.props
Furever.Entities/obj/Furever.Entities.csproj.nuget.g.targets
Furever.Entities/obj/project.assets.json
Furever.Entities/obj/project.nuget.cache
Furever.LoggerService/bin/Debug/net5.0/Furever.LoggerService.dll
Furever.LoggerService/bin/Debug/net5.0/Furever.LoggerService.pdb
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.GeneratedMSBuildEditorConfig.editorconfig
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.assets.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.csproj.CoreCompileInputs.cache
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.csproj.FileListAbsolute.txt
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.dll
Furever.LoggerService/obj/Debug/net5.0/Furever.LoggerService.pdb
Furever.LoggerService/obj/Furever.LoggerService.csproj.nuget.dgspec.json
Furever.LoggerService/obj/Furever.LoggerService.csproj.nuget.g.props
Furever.LoggerService/obj/Furever.LoggerService.csproj.nuget.g.targets
Furever.LoggerService/obj/project.assets.json
Furever.LoggerService/obj/project.nuget.cache
Furever.PhotoService/bin/Debug/net5.0/Furever.Entities.dll
Furever.PhotoService/bin/Debug/net5.0/Furever.Entities.pdb
Furever.PhotoService/bin/Debug/net5.0/Furever.PhotoService.dll
Furever.PhotoService/bin/Debug/net5.0/Furever.PhotoService.pdb
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.AssemblyInfo.cs
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.GeneratedMSBuildEditorConfig.editorconfig
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.assets.cache
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.csproj.CoreCompileInputs.cache
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.csproj.FileListAbsolute.txt
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.dll
Furever.PhotoService/obj/Debug/net5.0/Furever.PhotoService.pdb
Furever.PhotoService/obj/Furever.PhotoService.csproj.nuget.dgspec.json
Furever.PhotoService/obj/Furever.PhotoService.csproj.nuget.g.props
Furever.PhotoService/obj/Furever.PhotoService.csproj.nuget.g.targets
Furever.PhotoService/obj/project.assets.json
Furever.PhotoService/obj/project.nuget.cache
Furever.Repositories/bin/Debug/net5.0/Furever.Entities.dll
Furever.Repositories/bin/Debug/net5.0/Furever.Entities.pdb
Furever.Repositories/bin/Debug/net5.0/Furever.Repositories.dll
Furever.Repositories/bin/Debug/net5.0/Furever.Repositories.pdb
Furever.Repositories/bin/Debug/net5.0/ref/Furever.Repositories.dll
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.AssemblyInfo.cs
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.GeneratedMSBuildEditorConfig.editorconfig
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.assets.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.csproj.CoreCompileInputs.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.csproj.FileListAbsolute.txt
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.csprojAssemblyReference.cache
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.dll
Furever.Repositories/obj/Debug/net5.0/Furever.Repositories.pdb
Furever.Repositories/obj/Debug/net5.0/ref/Furever.Repositories.dll
Furever.Repositories/obj/Furever.Repositories.csproj.nuget.dgspec.json
Furever.Repositories/obj/Furever.Repositories.csproj.nuget.g.props
Furever.Repositories/obj/Furever.Repositories.csproj.nuget.g.targets
Furever.Repositories/obj/project.assets.json
Furever.Repositories/obj/project.nuget.cache


